<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/3b00a25a91.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="app">
        
        <div v-cloak class="container-fluid d-flex flex-column justify-content-between vh-100 p-0">
            
            <div class="d-flex flex-column sticky-top">
                <header class="container-fluid align-items-center bg-lightGray">
                    <div class="row h-100">
                        
                        <div class="col-4 d-none d-lg-flex">
                            <nav class="d-flex align-items-center">
                                <a href="accounts.html" class="color-petrolBlue ms-3" style="font-size: 1.2rem;"><i class="bi-bank2"></i> Accounts</a>
                                <a href="cards.html" class="color-petrolBlue ms-3" style="font-size: 1.2rem;"><i class="bi-credit-card-fill"></i> Cards</a>
                                <a href="#" class="link-active ms-3" style="font-size: 1.2rem;"><i class="fas fa-hand-holding-usd"></i> Loans</a>
                            </nav>
                        </div>
                            
                        <a data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" class="col-2 d-lg-none">
                            <i class="bi-list color-petrolBlue" style="font-size: 2.5rem;"></i>
                        </a>

                        <div class="col-10 col-lg-4 d-flex justify-content-end justify-content-lg-center h-75">
                            <div class="logo-container">
                                <a href="index.html"><img src="./assets/logo_mhbb.png"></a>
                            </div> 
                        </div>

                        <div class="col-4 d-none d-lg-flex justify-content-end">
                            <div class="me-2 d-flex flex-column justify-content-center">
                                <div class="dropdown">
                                    <button class="color-lightGray bg-petrolBlue ps-3 pe-3 pt-2 pb-2 border-0 rounded dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        <i class="bi-person-fill"></i> <span v-cloak>{{client.firstName}} {{client.lastName}}</span>
                                    </button>
                                    <ul class="dropdown-menu bg-petrolBlue">
                                        <li>
                                            <div class="d-flex flex-column align-items-center user-dropdown">
                                                <i class="bi-person-circle profile-pic color-lightGray mb-2"></i>
                                                <strong class="color-lightGray mb-1">{{client.firstName}} {{client.lastName}}</strong>
                                                <span class="color-lightGray mb-3">{{client.email}}</span>
                                                <button v-on:click="logOut" class="btn btn-danger mb-2">Sign Out</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </header>
            
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header bg-petrolBlue d-flex justify-content-end">
                        <a role="button" data-bs-dismiss="offcanvas" href="#offcanvasNav"><i class="bi-x-circle-fill bg-petrolBlue" style="font-size: 2.5rem; color: lightgray;"></i></a>
                    </div>
                    <div class="offcanvas-body bg-petrolBlue">
                        <nav class="d-flex justify-content-around bg-petrolBlue flex-column w-100 align-items-center">
                            <i class="bi-person-circle profile-pic color-lightGray mb-2"></i>
                            <strong class="color-lightGray mb-1">{{client.firstName}} {{client.lastName}}</strong>
                            <span class="color-lightGray mb-3">{{client.email}}</span>
                            <a href="accounts.html" class="text-light mb-3"><i class="bi-bank2"></i> Accounts</a>
                            <a href="cards.html" class="text-light mb-3"><i class="bi-credit-card-fill"></i> Cards</a>
                            <a href="#" class="link-active mb-3"><i class="fas fa-hand-holding-usd"></i> Loans</a>
                            <button v-on:click="logOut" class="btn btn-danger mb-2">Sign Out</button>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="d-flex flex-column flex-grow-1">
                
                <div class="mb-4">
                    <h1 class="text-center mt-4">Loans</h1>            
                </div>

                <div class="d-flex flex-wrap justify-content-center">
                    <div class="card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/casa2.jpg">
                        <div class="card-body">
                          <h5 class="card-title">Mortgage</h5>
                          <p class="card-text">Apply for a mortgage today and start building or purchase your dream house.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Can be paid back in 12, 24, 36, 48 or 60 payments.</li>
                          <li class="list-group-item">Up to <strong>$500000</strong></li>
                          <li class="list-group-item">Available in fixed-rate or adjustable-rate.</li>
                        </ul>
                      </div>

                      <div class="card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/personal.webp">
                        <div class="card-body">
                          <h5 class="card-title">Personal</h5>
                          <p class="card-text">Apply for a personal loan to get the money you need for that extraordinary purchase.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Can be paid back in 6, 12 or 24 payments.</li>
                          <li class="list-group-item">Up to <strong>$100000</strong></li>
                          <li class="list-group-item">Personal loans are available in fixed-rate only.</li>
                        </ul>
                      </div>

                      <div class="card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/auto2.jpg">
                        <div class="card-body">
                          <h5 class="card-title">Vehicle</h5>
                          <p class="card-text">Apply for a vehicle loan and start enjoying the comfort of your new car.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Can be paid back in 6, 12, 24 or 36 payments.</li>
                          <li class="list-group-item">Up to <strong>$300000</strong></li>
                          <li class="list-group-item">Available in fixed-rate or adjustable-rate.</li>
                        </ul>
                      </div>

                </div>

                <div class="d-flex flex-column align-items-center flex-grow-1">
                    <button type="button" class="color-lightGray bg-petrolBlue ps-3 pe-3 pt-2 pb-2 border-0 rounded mt-4" data-bs-toggle="modal" data-bs-target="#loanApplicationModal" style="width: 16rem;">Apply now</button>
                    <button v-if="client.email.includes('@mindhub')" type="button" class="color-lightGray bg-petrolBlue ps-3 pe-3 pt-2 pb-2 border-0 rounded mt-2" data-bs-toggle="modal" data-bs-target="#newLoanModal" style="width: 16rem;">Create new loan</button>
                </div>

                <div class="modal fade" id="loanApplicationModal" tabindex="-1" aria-labelledby="loanApplicationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-lightGray">
                            <main class="form-signin">
                                <form class="p-4 d-flex flex-column align-items-center">
                                    <div class="logo-container mb-4">
                                        <img src="./assets/logo_mhbb.png">
                                    </div>
                                    <h1 class="h3 mb-4 fw-normal text-center">Loan application form</h1>
                          
                                    <div class="col-12 mb-2 w-100">
                                        <label for="typeSelect" class="col-12">
                                            Select loan type
                                            <select v-on:change="setLoanDetails" v-model="loanType" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" id="typeSelect">
                                                <option v-for="loan in loans" :value="loan.id">{{loan.name}} - Maximum ${{loan.maxAmount}} - {{loan.interest}}% interest</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <label for="paymentsSelect" class="col-12">
                                            Select amount of payments
                                            <select v-model="loanPayments" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" id="paymentsSelect">
                                                <option v-for="payments in possiblePayments" :value="payments">{{payments}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <label for="amountInput" class="col-12">
                                            Enter desired loan amount
                                            <input type="number" v-model="loanAmount" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" id="amountInput">
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <label for="destinationAccountSelect" class="col-12">
                                            Select destination account
                                            <select v-model="destinationAccount" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" id="destinationAccountSelect">
                                                <option v-for="account in accounts" :value="account.number">{{account.number}} - ${{account.balance}}</option>
                                            </select>
                                        </label>
                                    </div>

                                    <p v-if="loanApplicationError !== ''" class="text-danger text-center"><i class="bi-exclamation-circle-fill"></i> {{loanApplicationError}}</p>
                                    <button class="bg-petrolBlue text-light ps-3 pe-3 pt-2 pb-2 border-0 rounded" type="button" data-bs-toggle="modal" data-bs-target="#acceptLoanApplicationModal">Send</button>
    
                                </form>
                            </main>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="acceptLoanApplicationModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-lightGray">
                          <h5 class="modal-title" id="loanModalTitle">Loan application summary</h5>
                        </div>
                        <div class="modal-body bg-lightGray">
                          <p v-if="loanType !== ''" class="text-center">Loan type: {{loanName}}</p>
                          <p v-if="loanPayments !== ''" class="text-center">Loan payments: {{loanPayments}}</p>
                          <p v-if="loanAmount !== ''" class="text-center">Amount: ${{loanAmount}}</p>
                          <p v-if="loanType !== '' && loanAmount !== ''" class="text-center">Interest: {{loanInterest}}%</p>
                          <p v-if="loanAmount !== ''" class="text-center">Amount with interests: ${{(loanAmount + loanAmount/100 * loanInterest).toFixed(2)}}</p>
                          <p v-if="loanAmount !== '' && loanPayments !== ''" class="text-center">Amount per payment: ${{((loanAmount + loanAmount/100 * loanInterest)/loanPayments).toFixed(2)}}</p>
                          <p v-if="destinationAccount !== ''" class="text-center">Destination account: {{destinationAccount}}</p>
                        </div>
                        <div class="modal-footer bg-lightGray">
                          <button v-on:click="createLoanApplication" class="bg-petrolBlue text-light ps-3 pe-3 pt-2 pb-2 border-0 rounded" data-bs-toggle="modal" data-bs-target="#loanApplicationModal">Accept</button>
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#loanApplicationModal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="newLoanModal" tabindex="-1" aria-labelledby="loanApplicationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-lightGray">
                            <main class="form-signin">
                                <form class="p-4 d-flex flex-column align-items-center">
                                    <div class="logo-container mb-4">
                                        <img src="./assets/logo_mhbb.png">
                                    </div>
                                    <h1 class="h3 mb-4 fw-normal text-center">Loan creation</h1>
                          
                                    <div class="col-12 mb-2 w-100">
                                        <label for="typeInput" class="col-12">
                                            Enter loan type
                                            <input type="text" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" v-model="newLoanName">
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <label for="maxInput" class="col-12">
                                            Enter maximum loan amount
                                            <input type="number" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" v-model="newLoanMax">
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <p class="color-petrolBlue">Select available payments</p>
                                        <label for="sixPaymentsCheck" class="col-2">
                                            6
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="sixPaymentsCheck" value="6">
                                        </label>
                                        <label for="twelvePaymentsCheck" class="col-2">
                                            12
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="twelvePaymentsCheck" value="12">
                                        </label>
                                        <label for="twentyFourPaymentsCheck" class="col-2">
                                            24
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="twentyFourPaymentsCheck" value="24">
                                        </label>
                                        <label for="thirtySixPaymentsCheck" class="col-2">
                                            36
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="thirtySixPaymentsCheck" value="36">
                                        </label>
                                        <label for="fortyEightPaymentsCheck" class="col-2">
                                            48
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="fortyEightPaymentsCheck" value="48">
                                        </label>
                                        <label for="sixtyPaymentsCheck" class="col-2">
                                            60
                                            <input type="checkbox" v-model="newLoanPayments" name="payments" id="sixtyPaymentsCheck" value="60">
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3 w-100">
                                        <label for="interestInput" class="col-12">
                                            Enter loan interest
                                            <input type="number" class="col-12 border-start-0 border-end-0 border-top-0 border-primary pt-2 pb-2" v-model="newLoanInterest">
                                        </label>
                                    </div>

                                    <p v-if="loanCreationError !== ''" class="text-danger text-center"><i class="bi-exclamation-circle-fill"></i> {{loanCreationError}}</p>
                                    <button class="bg-petrolBlue text-light ps-3 pe-3 pt-2 pb-2 border-0 rounded" type="button" data-bs-toggle="modal" data-bs-target="#acceptLoanCreationModal" v-on:click="sortPayments">Send</button>
    
                                </form>
                            </main>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="acceptLoanCreationModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-lightGray">
                          <h5 class="modal-title" id="newLoanModalTitle">New loan summary</h5>
                        </div>
                        <div class="modal-body bg-lightGray">
                          <p v-if="newLoanName !== ''" class="text-center">Loan name: {{newLoanName}}</p>
                          <p v-if="newLoanMax !== 0" class="text-center">Loan maximum amount: ${{newLoanMax}}</p>
                          <p v-if="newLoanPayments.length > 0" class="text-center">Payments: <span v-for="payment in newLoanPayments">/{{payment}}/</span></p>
                          <p v-if="newLoanInterest !== 0" class="text-center">Interest: {{newLoanInterest}}%</p>
                        </div>
                        <div class="modal-footer bg-lightGray">
                          <button v-on:click="createLoan" class="bg-petrolBlue text-light ps-3 pe-3 pt-2 pb-2 border-0 rounded" data-bs-toggle="modal" data-bs-target="#newLoanModal">Accept</button>
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#newLoanModal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </div>
            
            <footer class="w-100 d-flex flex-column align-items-center p-3 bg-petrolBlue mt-3">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start mt-2 mb-2">
                          <div class="logo-container">
                              <img src="./assets/logo_mhbb_white.png">
                          </div>
                      </div>
                      <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end mt-4 mb-2 mt-lg-2 align-items-center">
                          <a href="https://www.facebook.com" target="_blank" class="color-lightGray"><i class="bi-facebook m-2" style="font-size: 1.5rem;"></i></a>
                          <a href="https://www.instagram.com" target="_blank" class="color-lightGray"><i class="bi-instagram m-2" style="font-size: 1.5rem;"></i></a>
                          <a href="https://www.twitter.com" target="_blank" class="color-lightGray"><i class="bi-twitter m-2" style="font-size: 1.5rem;"></i></a>
                          <a href="https://www.youtube.com" target="_blank" class="color-lightGray"><i class="bi-youtube m-2" style="font-size: 1.5rem;"></i></a>
                      </div>
                      <div class="col-12 d-flex justify-content-center justify-content-lg-start mt-4 mb-2">
                          <span>
                              <a href="accounts.html" class="color-lightGray me-2">Accounts</a>|
                              <a href="cards.html" class="color-lightGray ms-2 me-2">Cards</a>|
                              <a href="#" class="link-active ms-2 me-2">Loans</a>
                          </span>
                      </div>
                      <div class="col-12 col-lg-6 text-center text-lg-start  mt-4 mb-1">
                          <span class="w-100 text-light">&copy; MindHub Brothers Bank</span>
                      </div>
                      <div class="col-6 d-none d-lg-flex justify-content-end align-items-center">
                          <a href="#" class="color-lightGray"><i class="bi-arrow-up-circle-fill" style="font-size: 2rem;"></i></a>
                      </div>
                  </div>
              </div>
          </footer>
            
        </div>    
        
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./script/loans.js"></script>
</body>
</html>